.container-fluid {
  background-image: url("images/pokemon_pokeball.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.card {
  background-color: rgba(255, 255, 255, 0.4);
  text-shadow: 1px 1px 1px #000000;
  position: relative;
}

.btnAgregar,
.btnSacar {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 5%;
  width: 30px;
  height: 30px;
  background-color: #2c92db;
  border: 2px solid #043c69;
}
.btnAgregar {
  right: 5%;
}
.btnSacar {
  left: 5%;
}

.btnAgregar:hover,
.btnSacar:hover {
  cursor: pointer;
}

#imgPokebola {
  cursor: pointer;
}

.oculto {
  display: none;
}

.puntos {
  font-size: 5vh;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

#ataque {
  min-height: 100vh;
}

#divPlayer {
  background-color: rgba(0, 0, 255, 0.4);
  position: fixed;
  top: 0;
  height: 10vh;
}
#divBot {
  background-color: rgba(255, 0, 0, 0.4);
  position: fixed;
  bottom: 0;
  height: 10vh;
}
#divArena {
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  height: 80vh;
}

.pokeAtack {
  cursor: pointer;
}

.sombra-texto {
  text-shadow: 1px 1px 1px #000000;
}

@media (min-width: 768px) {
  #divPlayer,
  #divBot {
    height: 20vh;
  }
  #divArena {
    height: 60vh;
  }
}

/* 
@media (min-width: 992px) { 
  #divPlayer,#divBot {
    height: 20vh;
  }
  #divArena {
    height: 60vh;
  }
 } */
